.column-name {
  width: 30%
}

.column-id {
  width: 20%
}

.column-republish {
  width: 50px
}

.column-value {
  width: 75px
}

.column-mapping {
  width: 30%
}

.column-centered {
  text-align: center;
}
