.icon-device {
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
}
.off {
  animation: low-blink-opacity 2.5s infinite ease-in-out;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}
.on {
}
.battery-level {
  position: absolute;
  pointer-events: none;
  top: 0;
  right: 0;
  width: 9px;
  height: 5px;
  line-height: 0;
}
.since-active {
  position: absolute;
  pointer-events: none;
  bottom: 0;
  left: 0;
  height: 9px;
  line-height: 9px;
  font-size: 9px;
  font-weight: 100;
  color: #555;
}

@-webkit-keyframes low-blink-opacity {
  0% {
    opacity: .5
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: .5;
  }
}
