.single-value {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  vertical-align: middle;
  text-align: center;
  color: #333;
  box-sizing: border-box;
  background: #fbfbfb;
}
.off {
  background-color: #adb4a9;
}
.on {
  background-color: #7D9029;
}
