.time-since {
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
}

.sup {
  font-size: 70%;
  display: inline-block;
  letter-spacing: -1px;
  margin-right: 1px;
  font-weight: 100;
}
